# Dependency directories
/node_modules

# Build output
/build
/dist

# Environment variables
.env

# IDE/Editor specific files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# macOS specific files
.DS_Store

# Logs
*.log
npm-debug.log*
